/37_4_2/qml.qrc
/37_4_2/CMakeLists.txt.user
/37_4_2/37_4_2.cpp
/37_4_2/CMakeLists.txt
/cmake-build-debug/
/37_4_3/.idea/
/37_4_3/cmake-build-default/
/37_4_1/.idea/
/37_4_1/cmake-build-debug/
/37_4_1/cmake-build-default/
